p {
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
  }

  p.video-title {
    font-size: 18px;
    font-weight: bold;
    width: 280px;
    line-height: 24px;
    margin-bottom: 5px;
  }

  p.video-stats {
    color: rgb(96, 96, 96);
    font-size: 14px;
    margin-bottom: 20px;
  }

  p.video-author {
    color: rgb(96, 96, 96);
    font-size: 14px;
    margin-bottom: 20px;
  }

  p.video-description {
    color: rgb(96, 96, 96);
    font-size: 14px;
    width: 280px;
    margin-bottom: 100px;
    line-height: 22px;
  }

  p.apple-text {
    background-color: rgb(227, 65, 64);
    color: white;
    font-size: 14px;
    padding-bottom: 18px;
    padding-top: 18px;
    text-align: center;
  }

  .shop-link {
    cursor: pointer;
  }
  .shop-link:hover {
    text-decoration: underline;
  }